.pill {
  align-items: center;
  background: var(--t-background-transparent-light);
  border-radius: var(--t-border-radius-pill);
  corner-shape: round;
  color: var(--t-font-color-tertiary);
  display: inline-flex;
  font-size: var(--t-font-size-xs);
  font-style: normal;
  font-weight: var(--t-font-weight-medium);
  gap: var(--t-spacing-1);
  height: var(--t-spacing-4);
  justify-content: flex-end;
  line-height: var(--t-text-line-height-lg);
  padding: 0 var(--t-spacing-2);

  &[data-size='md'] {
    font-size: var(--t-font-size-sm);
    gap: var(--t-spacing-0_5);
    height: calc(var(--t-spacing-4) + var(--t-spacing-0_5));
    padding: 0 var(--t-spacing-1_5);

    & > svg {
      block-size: calc(var(--t-icon-size-sm) * 1px);
      inline-size: calc(var(--t-icon-size-sm) * 1px);
    }
  }

  &[data-color='inherit'] {
    background: color-mix(in srgb, currentColor 16%, transparent);
    color: inherit;
  }
}
