.root {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  align-self: flex-start;
  border-radius: var(--t-border-radius-pill);
  corner-shape: round;
  background-color: var(--t-background-transparent-medium);
  cursor: pointer;
  transition: background-color duration(normal) ease;

  &[data-checked] {
    background-color: var(--toggle-on-color, var(--t-color-blue));
  }

  &[data-disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.centered {
  align-self: center;
}

.small {
  width: 24px;
  height: 16px;
}

.medium {
  width: 32px;
  height: 20px;
}

.thumb {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  border-radius: 50%;
  corner-shape: round;
  background-color: var(--t-background-primary);
  transition: transform duration(normal) ease;
}

.small .thumb {
  width: 12px;
  height: 12px;
  transform: translate(2px, -50%);
}

.medium .thumb {
  width: 16px;
  height: 16px;
  transform: translate(2px, -50%);
}

.small[data-checked] .thumb {
  transform: translate(10px, -50%);
}

.medium[data-checked] .thumb {
  transform: translate(14px, -50%);
}
