.root {
  position: relative;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  align-self: flex-start;
  border-radius: var(--t-border-radius-pill);
  corner-shape: round;
  background-color: var(--t-background-transparent-medium);
  cursor: pointer;
  transition: background-color duration(normal) ease;

  &[data-checked] {
    background-color: var(--toggle-on-color, var(--t-color-blue));
  }

  &[data-disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.centered {
  align-self: center;
}

.small {
  width: calc(24px * var(--t-scale, 1));
  height: calc(16px * var(--t-scale, 1));
}

.medium {
  width: calc(32px * var(--t-scale, 1));
  height: calc(20px * var(--t-scale, 1));
}

.thumb {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  border-radius: 50%;
  corner-shape: round;
  background-color: var(--t-background-primary);
  transition: transform duration(normal) ease;
}

.small .thumb {
  width: calc(12px * var(--t-scale, 1));
  height: calc(12px * var(--t-scale, 1));
  transform: translate(calc(2px * var(--t-scale, 1)), -50%);
}

.medium .thumb {
  width: calc(16px * var(--t-scale, 1));
  height: calc(16px * var(--t-scale, 1));
  transform: translate(calc(2px * var(--t-scale, 1)), -50%);
}

.small[data-checked] .thumb {
  transform: translate(calc(10px * var(--t-scale, 1)), -50%);
}

.medium[data-checked] .thumb {
  transform: translate(calc(14px * var(--t-scale, 1)), -50%);
}
