.iconContainer {
  align-items: flex-start;
  border-radius: var(--t-border-radius-sm);
  display: flex;
  flex-direction: column;
  padding: var(--t-spacing-1);
}

.withBackground {
  background: var(--t-background-transparent-light);
}
