.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;


}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.cardContainer *:last-child {
  margin-bottom: 0px;

}

.cardTitle {
  font-size: 1.2rem;
    display: flex
}

.cardDescription {
  font-size: 0.8rem;
}

.icon {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
