{
  "mcpServers": {
    "postgres": {
      "type": "stdio",
      "command": "uv",
      "args": ["run", "postgres-mcp", "--access-mode=unrestricted"],
      "env": {
        "DATABASE_URI": "${PG_DATABASE_URL}"
      }
    },
    "playwright": {
      "type": "stdio",
      "command": "npx",
      "args": ["@playwright/mcp@latest", "--no-sandbox", "--headless"],
      "env": {}
    },
    "context7": {
      "type": "stdio",
      "command": "npx",
      "args": ["-y", "@upstash/context7-mcp"],
      "env": {}
    },
    "n8n-smartout-mcp": {
      "command": "npx",
      "args": ["n8n-mcp"],
      "env": {
        "MCP_MODE": "stdio",
        "LOG_LEVEL": "error",
        "DISABLE_CONSOLE_OUTPUT": "true",
        "N8N_API_URL": "https://n8n.smartout.org",
        "N8N_API_KEY": "${N8N_API_KEY}"
      }
    }
  }
}
