.button {
  padding: var(--t-spacing-2) var(--t-spacing-4);
  background-color: var(--t-color-blue10);
  color: var(--t-font-color-primary);
  border: none;
  border-radius: var(--t-spacing-1);
  cursor: pointer;
  margin-bottom: var(--t-spacing-3);

  &:hover {
    background-color: var(--t-color-blue8);
  }
}

.buttonWrapper {
  height: auto;
  width: auto;
}

// dimension === 'width'
.buttonWrapperWidth {
  height: 300px;
}

// dimension === 'height'
.buttonWrapperHeight {
  width: 600px;
}

.expandableWrapper {
  background-color: var(--t-background-primary);
  height: 100%;
  width: 100%;
}

.content {
  padding: var(--t-spacing-3);
  height: auto;
  width: auto;

  p {
    color: var(--t-font-color-primary);
    margin-bottom: var(--t-spacing-2);
    font-size: var(--t-font-size-md);
  }
}

// dimension === 'height' && mode === 'scroll-height'
.contentFixedHeight {
  height: 200px;
}

// dimension === 'width'
.contentFixedWidth {
  width: 400px;
}
