.columnTitle {
  font-size: var(--t-font-size-lg);
  font-weight: var(--t-font-weight-semi-bold);
  margin: var(--t-spacing-2);
}

.rowsTitle {
  color: var(--t-font-color-secondary);
  font-size: var(--t-font-size-md);
  font-weight: var(--t-font-weight-semi-bold);
  margin: var(--t-spacing-2);
  width: 100px;
}

.rowTitle {
  color: var(--t-font-color-tertiary);
  font-size: var(--t-font-size-md);
  font-weight: var(--t-font-weight-semi-bold);
  margin: var(--t-spacing-2);
  width: 100px;
}

.elementTitle {
  color: var(--t-font-color-light);
  font-size: var(--t-font-size-xs);
  font-weight: var(--t-font-weight-semi-bold);
  margin-bottom: var(--t-spacing-1);
  text-align: center;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: row;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  padding: var(--t-spacing-2);
}

.rowsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--t-spacing-2);
}

.rowContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  gap: var(--t-spacing-2);
}

.elementContainer {
  display: flex;
}

.cellContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: var(--t-spacing-2);
}
