.bar {
  height: var(--t-spacing-2);
  background-color: var(--progress-bar-background-color, none);
  border-radius: 0;
  overflow: hidden;
  width: 100%;

  &[data-with-border-radius] {
    border-radius: var(--t-border-radius-xxl);
  }
}

.barFilling {
  background-color: var(--progress-bar-color, var(--t-font-color-primary));
  border-radius: 0;
  height: 100%;
  width: 100%;

  &[data-with-border-radius] {
    border-radius: var(--t-border-radius-md);
  }
}
