.container {
  align-items: center;
  display: flex;
  justify-content: center;
  animation: animatedCircleLoadingSpin duration(slow) ease-in-out infinite;
}

@keyframes animatedCircleLoadingSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
