.button {
  align-items: center;
  background-color: var(--t-background-transparent-lighter);
  border-color: var(--t-border-color-medium);
  border-radius: var(--t-border-radius-sm);
  border-style: solid;
  border-width: 1px;
  display: flex;
  justify-content: center;
  padding-inline: var(--t-spacing-1);
  height: 24px;
  width: 24px;
  box-sizing: border-box;
  cursor: pointer;
}

.red {
  background-color: var(--t-background-danger);
  border-color: var(--t-border-color-danger);
}

.chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s ease;

  &[data-open] {
    transform: rotate(0deg);
  }
}
