.text {
  align-items: center;
  box-sizing: border-box;
  color: var(--t-font-color-tertiary);
  display: inline-flex;
  height: 24px;
  line-height: 1;
}

.blue {
  color: var(--t-color-blue8);
}

.red {
  color: var(--t-color-red8);
}

.button {
  @include focus-ring;

  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
  text-align: inherit;

  &:disabled {
    cursor: inherit;
  }
}
