.labelContainer {
  background-color: var(--t-background-transparent-lighter);
  border-color: var(--t-border-color-medium);
  color: var(--t-font-color-primary);
  border-radius: var(--t-border-radius-sm);
  border-style: solid;
  border-width: 1px;
  column-gap: var(--t-spacing-2);
  display: inline-flex;
  align-items: center;
  height: 24px;
  box-sizing: border-box;
  font-size: var(--t-font-size-md);
  white-space: nowrap;
  padding-inline: var(--t-spacing-2);

  > span {
    align-items: center;
    display: inline-flex;
    line-height: 1;
  }
}

.blue {
  background-color: var(--t-color-blue3);
  border-color: var(--t-color-blue5);
  color: var(--t-color-blue);
}

.red {
  background-color: var(--t-background-danger);
  border-color: var(--t-border-color-danger);
  color: var(--t-font-color-danger);
}
