.separator {
  background: var(--t-font-color-light);
  height: var(--t-spacing-4);
  margin: 0;
  width: 1px;

  &[data-size='small'] {
    height: var(--t-spacing-2);
  }

  &[data-accent='blue'] {
    background: var(--t-buttons-secondary-text-color);
  }

  &[data-accent='danger'] {
    background: var(--t-border-color-danger);
  }
}

.shortcutLabel {
  color: var(--t-font-color-light);
  font-weight: var(--t-font-weight-medium);

  &[data-accent='blue'] {
    color: var(--t-buttons-secondary-text-color);
  }

  &[data-accent='danger'] {
    color: var(--t-color-red8);
  }

  &[data-accent='danger'][data-variant='primary'] {
    color: var(--t-border-color-danger);
  }
}
