@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-global-radius: 8px;
  --ifm-code-font-size: 14px;
  --ifm-font-family-base: "Inter",BlinkMacSystemFont,-apple-system,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Helvetica","Arial",sans-serif;
  --ifm-font-family-monospace: 'Roboto Mono',SFMono-Regular, Menlo, Monaco, Consolas,'Liberation Mono', 'Courier New', monospace;
  --ifm-font-size-base: 14px;
  --ifm-base-spacing: 14px;
  --ifm-line-height-base: var(--twenty-body-regular-line-height);
  --ifm-font-weight-base: var(--twenty-body-regular-font-weight);
  --ifm-color-primary: #11181c;
  --ifm-code-font-size: 95%;
  --docsearch-key-gradient: none !important;
  --docsearch-key-shadow: 0 0 0 0.5px var(--docsearch-muted-color) !important;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-toc-padding-vertical: 0.5rem;
  --ifm-breadcrumb-border-radius: 8px;
  --ifm-navbar-link-color: #687076;


  --ifm-heading-font-weight: 600;

  --ifm-h1-font-size: 1.7rem !important;
  --ifm-h2-font-size: 1.25rem !important;
  --ifm-h3-font-size: 1rem !important;
  --ifm-h4-font-size: 0.875rem !important;
  --ifm-h5-font-size: 0.85rem !important;

  --ifm-spacing-horizontal: 2rem;

  --ifm-menu-link-padding-vertical: 0.2rem;
}

.markdown > h1 {
  --ifm-h1-font-size: 1.7rem !important;
}
.markdown > h2 {
  --ifm-h2-font-size: 1.25rem;
}
.markdown > h3 {
  --ifm-h3-font-size: 1rem;
}
.markdown > h4 {
  --ifm-h4-font-size: 0.875rem;
}
.markdown > h5 {
  --ifm-h5-font-size: 0.85rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #fff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 14px;
}

.DocSearch-Button {
  border-radius: 8px !important;
}

.navbar__items--right svg > path {
  fill: #687076 !important;
}

.DocSearch-Button-Placeholder {
  padding: 0 100px 0 6px !important;
}

.theme-edit-this-page {
  font-size: 70%;
}
.theme-edit-this-page svg {
  height: 14px;
  width: 14px;
}

li.coming-soon {
  display: flex;
}


li.coming-soon a {
  display: inline-block;
  pointer-events: none;
  cursor: default;
}

li.coming-soon a::after {
  float: right;
  content: "soon";
  border-color: #373737;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
  float:right;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 2px;
  font-size: 80%;
}

.menu__list-item-collapsible > a {
  text-transform: uppercase;
}

.theme-doc-sidebar-item-category {
  padding-top: 1.5rem;
}

.sidebar-item-icon {
  padding-right: 0.5rem;
}

.fullHeightPlayground {
  height: calc(100vh - var(--ifm-navbar-height));
}