.container {
  display: flex;
  flex-direction: row;

  > * + * {
    margin-left: var(--t-spacing-4);
  }

  @include respond-to(mobile) {
    overflow: scroll;
  }
}

.cardContainer {
  display: flex;
  flex-direction: column;
}

.label {
  margin-top: var(--t-spacing-2);
  color: var(--t-font-color-secondary);
  font-size: var(--t-font-size-xs);
  font-weight: var(--t-font-weight-medium);
}
