option_settings:
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 4
    Cooldown: 360
  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    UpperThreshold: 70
    LowerThreshold: 20
    UpperBreachScaleIncrement: 1
    LowerBreachScaleIncrement: -1
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
    ServiceRole: aws-elasticbeanstalk-service-role
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
