.pill {
  align-items: center;
  background: var(--t-background-transparent-light);
  border-radius: var(--t-border-radius-pill);
  corner-shape: round;
  color: var(--t-font-color-tertiary);
  display: inline-flex;
  font-size: var(--t-font-size-xs);
  font-style: normal;
  font-weight: var(--t-font-weight-medium);
  gap: var(--t-spacing-1);
  height: var(--t-spacing-4);
  justify-content: flex-end;
  line-height: var(--t-text-line-height-lg);
  padding: 0 var(--t-spacing-2);
}
