*, *::before, *::after {
    box-sizing: border-box;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    font-family: var(--font-gabarito);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warning {
    color: rgb(94, 30, 4);
}

a {
    color: rgb(129, 129, 129);
    &:hover {
        color: #000;
    }
}

@media (max-width: 1199px) {
nav {
        display: none;
    }
}

nav.toc {
  width: 20%;
  position: fixed;
  top: 125px;
  right: 0;
}

nav.toc ol{
    list-style-type: circle;
}

nav.toc li{
    height: 32px;
}

nav.toc a{
    color: #141414;
    font-family: var(--font-inter);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}