*, *::before, *::after {
    box-sizing: border-box;
    font-smooth: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    word-wrap: break-word;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.warning {
    color: rgb(94, 30, 4);
}

a {
    color: rgb(129, 129, 129);
    &:hover {
        color: #000;
    }
}

nav.toc {
  width: 200px;
  position: fixed;
  top: 100px;
  right: 0;
}