.main {
  font-family: inherit;
  font-size: inherit;

  font-weight: inherit;
  max-width: 100%;
  overflow: hidden;
  text-decoration: inherit;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.cursor {
  cursor: pointer;
}

.large {
  height: calc(var(--twentycrm-spacing-multiplicator) * 4px);
}