.container {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  height: var(--t-spacing-5);
  justify-content: space-between;
  padding: var(--t-spacing-1);
  width: 100%;
}

.text {
  color: var(--t-font-color-secondary);
  font-size: var(--t-font-size-sm);
  font-weight: var(--t-font-weight-medium);
}
