.fadeIn {
  --animated-ease-in-duration: #{duration(normal)};

  animation: animatedEaseInFadeIn var(--animated-ease-in-duration) linear;

  &[data-duration='instant'] {
    --animated-ease-in-duration: #{duration(instant)};
  }

  &[data-duration='fast'] {
    --animated-ease-in-duration: #{duration(fast)};
  }

  &[data-duration='slow'] {
    --animated-ease-in-duration: #{duration(slow)};
  }
}

@keyframes animatedEaseInFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
