.button {
  --tw-button-padding-inline: 0;

  inline-size: var(--t-spacing-8);

  &[data-size='sm'] {
    inline-size: var(--t-spacing-6);
  }
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;

  & > svg {
    block-size: calc(var(--t-icon-size-md) * 1px);
    inline-size: calc(var(--t-icon-size-md) * 1px);
  }
}
