.button {
  @include square-button;
}

.icon {
  align-items: center;
  display: flex;
  justify-content: center;

  & > svg {
    block-size: calc(var(--t-icon-size-md) * 1px);
    inline-size: calc(var(--t-icon-size-md) * 1px);
  }
}
