.container {
  --tw-icon-button-size: var(--t-spacing-5);
  --tw-icon-button-icon-size: var(--t-icon-size-sm);
  --tw-button-radius: calc(var(--t-border-radius-sm) - 3px);

  align-items: flex-start;
  backdrop-filter: blur(20px);
  background-color: var(--t-background-transparent-lighter);
  border: 1px solid var(--t-border-color-strong);
  border-radius: var(--t-border-radius-sm);
  padding: var(--t-spacing-0_5);

  @include hover-capable {
    &:hover {
      box-shadow: var(--t-box-shadow-light);
    }
  }
}
