.info {
  align-items: center;
  border-radius: var(--t-border-radius-md);
  display: flex;
  font-weight: var(--t-font-weight-medium);
  justify-content: space-between;
  max-width: 512px;
  gap: var(--t-spacing-2);
  padding: var(--t-spacing-2);
  background: transparent;
  color: inherit;
}

.accentBlue {
  background: var(--t-color-blue5);
  color: var(--t-color-blue10);
}

.accentDanger {
  background: var(--t-color-red3);
  color: var(--t-color-red);
}

.textContainer {
  align-items: center;
  display: flex;
  gap: var(--t-spacing-2);

  & > svg {
    flex-shrink: 0;
  }
}

.linkContainer {
  & > a {
    text-decoration: none;
  }
}
