.wrapper[data-selected] {
  --tw-color-picker-button-background: var(--t-background-transparent-medium);
}

.wrapper .button[data-variant='ghost'] {
  --tw-button-background: var(--tw-color-picker-button-background, transparent);
  --tw-button-hover: var(--tw-color-picker-button-background, transparent);
  --tw-button-active: var(--tw-color-picker-button-background, transparent);
}

.button {
  @include square-button;
}
