.overflowingMultilineText {
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: auto;
  max-width: 100%;
  overflow-wrap: break-word;
  text-decoration: inherit;
  text-overflow: ellipsis;
  white-space: pre-wrap;

  &[data-content-overflowing] {
    cursor: pointer;
  }
}

.overflowingText {
  cursor: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: auto;
  max-width: 100%;
  text-decoration: inherit;

  &[data-content-overflowing] {
    cursor: pointer;
  }
}

.large {
  height: var(--t-spacing-4);
}

.pre {
  font-family: inherit;
  white-space: pre-wrap;
}
