.text {
  align-items: center;
  box-sizing: border-box;
  color: var(--t-font-color-tertiary);
  display: inline-flex;
  height: calc(24px * var(--t-scale, 1));
  line-height: 1;
}

.blue {
  color: var(--t-color-blue8);
}

.red {
  color: var(--t-color-red8);
}
