.editorHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--t-spacing-10);
  padding: 0 var(--t-spacing-2);
  border: 1px solid var(--t-border-color-medium);
  border-top-left-radius: var(--t-border-radius-md);
  border-top-right-radius: var(--t-border-radius-md);
  background-color: var(--t-background-transparent-lighter);
  color: var(--t-font-color-tertiary);
  font-weight: var(--t-font-weight-medium);
}

.elementContainer {
  display: flex;
  align-content: flex-end;
  gap: var(--t-spacing-2);
}
