.container {
  --tw-button-border-end-end-radius: var(--t-border-radius-md);
  --tw-button-border-end-start-radius: var(--t-border-radius-md);
  --tw-button-border-start-end-radius: var(--t-border-radius-md);
  --tw-button-border-start-start-radius: var(--t-border-radius-md);

  border-radius: var(--t-border-radius-md);
  display: inline-flex;
  max-inline-size: 100%;

  & > :not(:first-child) {
    --tw-button-border-start-start-radius: 0;
    --tw-button-border-end-start-radius: 0;

    border-start-start-radius: 0;
    border-end-start-radius: 0;
    margin-inline-start: -1px;
  }
  & > :not(:last-child) {
    --tw-button-border-start-end-radius: 0;
    --tw-button-border-end-end-radius: 0;

    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  & > :focus-within {
    z-index: 1;
  }
}
