.content {
  font-size: var(--t-font-size-sm);
  font-weight: var(--t-font-weight-regular);

  overflow: hidden;
  padding-left: 0;

  white-space: nowrap;
}

.wrapper {
  --horizontal-padding: var(--t-spacing-1);
  --vertical-padding: var(--t-spacing-2);

  cursor: initial;

  display: flex;

  flex-direction: row;

  font-size: var(--t-font-size-sm);

  gap: var(--t-spacing-2);

  padding: var(--vertical-padding) 0;

  color: var(--styled-text-color, var(--t-font-color-primary));
}
