.hint {
  color: var(--t-font-color-light);
  font-size: var(--t-font-size-xs);
  font-weight: var(--t-font-weight-regular);
  margin-top: var(--t-spacing-0_5);
}

.danger {
  color: var(--t-font-color-danger);
}
