.button {
  align-items: center;
  background: var(--t-color-blue);
  border: none;
  border-radius: 50%;
  color: var(--t-font-color-inverted);
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: none;
  padding: 0;
  transition:
    color 0.1s ease-in-out,
    background 0.1s ease-in-out;

  &:hover:not(:disabled) {
    background: var(--t-color-blue10);
  }

  &:disabled {
    background: var(--t-background-quaternary);
    color: var(--t-font-color-tertiary);
    cursor: default;
  }
}

.small {
  height: 20px;
  width: 20px;
}

.medium {
  height: 24px;
  width: 24px;
}
