.container {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--t-spacing-4);
}

.titleContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.title {
  color: var(--t-font-color-primary);
  font-size: var(--t-font-size-md);
  font-weight: var(--t-font-weight-semi-bold);
  margin: 0;
}

.description {
  color: var(--t-font-color-tertiary);
  font-size: var(--t-font-size-md);
  font-weight: var(--t-font-weight-regular);
  margin: 0;
  margin-top: var(--t-spacing-2);
}
