.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: var(--t-spacing-2);
  height: calc(60px * var(--t-scale, 1));
  justify-content: flex-end;
  overflow: hidden;
  padding: var(--t-spacing-5);
}

.autoHeight {
  height: auto;
}

.centered {
  justify-content: center;
}

.smallPadding {
  padding: var(--t-spacing-3);
}
