.card {
  background-color: var(--card-background-color, transparent);
  border: 1px solid var(--t-border-color-medium);
  border-radius: var(--t-border-radius-md);
  color: var(--t-font-color-secondary);
  overflow: hidden;
  width: auto;

  &[data-rounded] {
    border-radius: var(--t-border-radius-md);
  }

  &[data-full-width] {
    width: 100%;
  }
}
