.cardHeader {
  background-color: var(--t-background-primary);
  border-bottom: 1px solid var(--t-border-color-medium);
  font-size: var(--t-font-size-sm);
  font-weight: var(--t-font-weight-medium);
  padding: var(--t-spacing-2) var(--t-spacing-4);
}
