@use './CardOwner';

.cardHeader {
  @include CardOwner.card-owner;

  background-color: var(
    --card-section-background-color,
    var(--t-background-primary)
  );
  border: 0;
  border-bottom: 1px solid var(--t-border-color-medium);
  font-size: var(--t-font-size-sm);
  font-weight: var(--t-font-weight-medium);
  padding: var(--t-spacing-2) var(--t-spacing-4);
  width: 100%;
}
