.cell-display-outer-container {
  align-items: center;
  display: flex;
  height: 100%;
  overflow: hidden;
  padding-left: 6px;
  width: 100%;
}

.cell-display-with-soft-focus {
  margin: -1px;
}

.cell-display-inner-container {
  align-items: center;
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

