.tabContainer {
  display: flex;
  gap: var(--t-spacing-1);
  height: 40px;
  user-select: none;
  position: relative;
  align-items: stretch;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: var(--t-border-color-light);
  }
}
