.bar {
  position: relative;
  height: var(--t-spacing-2);
  width: 100%;
  background-color: var(--progress-bar-background-color, none);
  border-radius: 0;
  overflow: hidden;

  &[data-with-border-radius] {
    border-radius: var(--t-border-radius-pill);
    corner-shape: round;
  }

  &[data-grow-in] {
    animation: progressBarGrowIn duration(normal) ease-out;
  }
}

.track {
  position: relative;
  height: 100%;
  width: 100%;
}

.indicator {
  height: 100%;
  background-color: var(--progress-bar-color, var(--t-font-color-primary));
  border-radius: 0;
  overflow: hidden;
  position: relative;
  transition: width duration(normal) linear;

  &[data-with-border-radius] {
    border-radius: var(--t-border-radius-pill);
    corner-shape: round;
  }

  &[data-nonzero] {
    min-width: 12px;
  }
}

.glint {
  animation: progressBarGlint calc(#{duration(normal)} * 3) ease-out forwards;
  backdrop-filter: brightness(1.6);
  inset: 0;
  mask-image: linear-gradient(90deg, transparent, black, transparent);
  position: absolute;
  transform: translateX(-100%);
}

.countdown {
  animation: progressBarCountdown
    var(--progress-bar-countdown-duration, #{duration(normal)}) linear forwards;

  &[data-paused] {
    animation-play-state: paused;
  }
}

@keyframes progressBarCountdown {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}

@keyframes progressBarGrowIn {
  from {
    width: 0;
  }
}

@keyframes progressBarGlint {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .bar[data-grow-in] {
    animation-duration: 0s;
  }

  .glint {
    display: none;
  }
}
