.section {
  width: auto;
}

.fullWidth {
  width: 100%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.primary {
  color: var(--t-font-color-primary);
}

.secondary {
  color: var(--t-font-color-secondary);
}

.tertiary {
  color: var(--t-font-color-tertiary);
}
