.backdrop {
  align-items: center;
  background: var(--t-background-overlay-primary);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  pointer-events: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: var(--modal-backdrop-z-index, 39);
  user-select: none;
}

.overlayLight {
  background: var(--t-background-overlay-tertiary);
}

.inContainer {
  background: var(--t-background-overlay-tertiary);
  position: absolute;
}
