.button {
  @include square-button;

  &[data-emphasis='subtle'] {
    --tw-button-color: var(--t-font-color-tertiary);
  }

  &[data-disabled] {
    --tw-button-color: var(--t-font-color-extra-light);

    opacity: 1;
  }
}
