body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 13px;
}

/* https://stackoverflow.com/questions/44543157/how-to-hide-the-google-invisible-recaptcha-badge */
.grecaptcha-badge { 
  visibility: hidden !important;
}
.bn-inline-content code{
  font-family: monospace;
  color: darkred;
  padding: 2px 4px;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  font-size: 0.9rem;
  background-color: #1414140F;

}