.root {
  align-items: center;
  display: inline-flex;
  gap: var(--t-spacing-1);
}

.valueInput {
  box-sizing: border-box;
  font-weight: var(--t-font-weight-medium);
  inline-size: var(--t-spacing-16);
  text-align: center;
}

.button {
  @include square-button;

  --tw-button-size: var(--t-spacing-6);

  &[data-readonly] {
    --tw-button-active: var(--tw-button-background);
    --tw-button-hover: var(--tw-button-background);

    cursor: default;
    opacity: 0.5;
  }
}

.icon {
  display: flex;

  > svg {
    block-size: calc(var(--t-icon-size-md) * 1px);
    inline-size: calc(var(--t-icon-size-md) * 1px);
  }
}
