.root {
  box-sizing: border-box;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: var(--tinted-icon-tile-dimension, var(--t-spacing-4));
  height: var(--tinted-icon-tile-dimension, var(--t-spacing-4));
  border: var(--tinted-icon-tile-border, none);
  border-radius: var(--t-border-radius-sm);
  background-color: var(--tinted-icon-tile-background-color, transparent);
}
