.banner {
  align-items: center;
  background-color: var(--t-accent-secondary);
  border-radius: var(--t-border-radius-md);
  box-sizing: border-box;
  display: flex;
  gap: var(--t-spacing-2);
  padding: var(--t-spacing-2);
  width: 100%;
}

.iconContainer {
  align-items: center;
  color: var(--t-color-blue);
  display: flex;
  flex-shrink: 0;
  height: 16px;
  justify-content: center;
  width: 16px;
}

.message {
  color: var(--t-color-blue);
  flex-grow: 1;
  font-family: var(--t-font-family);
  font-size: var(--t-font-size-sm);
  font-style: normal;
  font-weight: var(--t-font-weight-medium);
  line-height: 1.4;
  margin: 0;
  min-width: 0;
}
