{{- $useBitnami := .Values.postgresql.enabled -}}
{{- $useInternal := and (not .Values.postgresql.enabled) .Values.db.enabled -}}
{{- $ns := include "twenty.namespace" . -}}
{{- $host := (printf "%s-postgresql" (include "twenty.fullname" .)) -}}
{{- if $useInternal -}}
{{- $host = (printf "%s-db" (include "twenty.fullname" .)) -}}
{{- end -}}
{{- $db := "" -}}
{{- if $useBitnami -}}
{{- $db = (.Values.postgresql.auth.database | default "twenty") -}}
{{- else -}}
{{- $db = (.Values.db.internal.database | default "twenty") -}}
{{- end -}}
{{- $appSecretName := (.Values.db.createUserHook.secretName | default (printf "%s-db-user" (include "twenty.fullname" .))) -}}
{{- $appSecret := lookup "v1" "Secret" $ns $appSecretName }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "twenty.fullname" . }}-db-url
  namespace: {{ include "twenty.namespace" . }}
  labels:
    app.kubernetes.io/name: {{ include "twenty.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: server
type: Opaque
{{- if and .Values.db.createUserHook.enabled (or $useBitnami $useInternal) $appSecret }}
{{- $appUser := (b64dec $appSecret.data.username) -}}
{{- $appPass := (b64dec $appSecret.data.password) }}
stringData:
  url: {{ printf "postgres://%s:%s@%s.%s.svc.cluster.local/%s" $appUser $appPass $host $ns $db | quote }}
{{- else }}
stringData:
  url: {{ include "twenty.dbUrl" . | quote }}
{{- end }}
