.banner {
  border-radius: var(--t-border-radius-md);
  margin-bottom: var(--t-spacing-4);
}

.embedded {
  margin-bottom: 0;
}

.bannerContent {
  align-items: center;
  display: flex;
  flex: 1;
  gap: var(--t-spacing-2);
  min-width: 0;

  > svg {
    flex-shrink: 0;
  }
}

.bannerText {
  flex: 1;
  min-width: 0;
}

.compact {
  box-sizing: content-box;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  gap: var(--t-spacing-2);
  justify-content: space-between;
  line-height: inherit;
  margin-bottom: 0;
  max-width: 512px;
  min-height: auto;
  width: auto;

  .bannerContent {
    flex: initial;
  }
}

.compactBlue {
  background: var(--t-color-blue5);
  color: var(--t-color-blue10);
}

.compactDanger {
  background: var(--t-color-red3);
  color: var(--t-color-red);
}
