.status {
  @include focus-ring;
  border: none;
  font-family: inherit;
  font-weight: var(--t-font-weight-regular);
  &[data-weight='medium'] {
    font-weight: var(--t-font-weight-medium);
  }
  &[data-interactive] {
    cursor: pointer;
  }
  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.5;
  }
  align-items: center;
  background: var(--tw-status-background);
  border-radius: var(--t-border-radius-pill);
  corner-shape: round;
  color: var(--tw-status-text-color);
  display: inline-flex;
  font-size: var(--t-font-size-md);
  font-style: normal;
  gap: var(--t-spacing-1);
  block-size: var(--t-spacing-5);
  margin: 0;
  overflow: hidden;
  padding: 0 var(--t-spacing-2) 0 var(--t-spacing-2);

  &[data-loading] {
    padding-inline-end: var(--t-spacing-1);
  }

  &:before {
    background-color: var(--tw-status-text-color);
    border-radius: var(--t-border-radius-rounded);
    corner-shape: round;
    content: '';
    display: block;
    flex-shrink: 0;
    block-size: var(--t-spacing-1);
    inline-size: var(--t-spacing-1);
  }
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
