.container {
  max-width: 100%;
  position: relative;
}

.nodeWrapper {
  pointer-events: none;
  visibility: hidden;
  white-space: pre;
}

.childWrapper {
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}
