.label {
  color: var(--t-font-color-light);
  font-weight: var(--t-font-weight-semi-bold);
}

.default {
  font-size: calc(11px * var(--t-scale, 1));
}

.small {
  font-size: calc(9px * var(--t-scale, 1));
}
