.container {
  --tw-button-size: var(--t-spacing-8);

  border-radius: var(--t-border-radius-md);
  font-family: var(--t-font-family);
  inline-size: 296px;
  margin-block-start: 0;
  max-inline-size: 100%;
  overflow: hidden;
}

.message {
  font-weight: var(--t-font-weight-regular);
}
