.editorLoader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--code-editor-height);
  border: none;
  border-radius: 0;
  background-color: var(--t-background-transparent-lighter);

  &[data-variant='default'] {
    border: 1px solid var(--t-border-color-medium);
    border-radius: var(--t-border-radius-sm);
  }

  &[data-variant='with-header'] {
    border: 1px solid var(--t-border-color-medium);
    border-top: none;
    border-radius: 0 0 var(--t-border-radius-sm) var(--t-border-radius-sm);
  }
}

.container {
  display: contents;
}

.editorWrapper {
  display: contents;
}

.editorWrapper :global(.monaco-editor) {
  outline-width: 0;
  border-radius: var(--t-border-radius-sm);
  background-color: var(--t-background-secondary);
}

.editorWrapper[data-transparent-background] :global(.monaco-editor) {
  background-color: transparent;
}

.editorWrapper[data-variant='borderless'] :global(.monaco-editor) {
  border-radius: 0;
}

.editorWrapper :global(.overflow-guard) {
  box-sizing: border-box;
  border: none;
  border-radius: 0;
}

.editorWrapper[data-variant='default'] :global(.overflow-guard) {
  border: 1px solid var(--t-border-color-medium);
  border-radius: var(--t-border-radius-sm);
}

.editorWrapper[data-variant='with-header'] :global(.overflow-guard) {
  border: 1px solid var(--t-border-color-medium);
  border-top: none;
  border-radius: 0 0 var(--t-border-radius-sm) var(--t-border-radius-sm);
}
